element.style {
}
@media (max-width: 575px) {
    .u-layout-wrap:not(.u-layout-custom-xs) .u-layout .u-layout-cell {
        border-left: 0 !important;
        border-right: 0 !important;
    }
}
.u-gutter-32 .u-layout .u-layout-cell {
    border: 16px solid transparent;
}
@media (max-width: 575px) {
    .u-layout-wrap:not(.u-layout-custom-xs) .u-layout-row > * {
        min-width: 100%;
    }
}
@media (max-width: 991px) {
    .u-section-2 .u-layout-cell-1 {
        min-height: 100px;
    }
}
@media (max-width: 1199px) {
    .u-section-2 .u-layout-cell-1 {
        min-height: 562px;
    }
}
.u-section-2 .u-layout-cell-1 {
    min-height: 681px;
}
:not(.u-effect-fade) > .u-layout-cell, :not(.u-effect-fade) > .u-container-style.u-opacity, :not(.u-effect-fade) > .u-container-layout.u-opacity, :not(.u-effect-fade) > .u-group.u-opacity {
    opacity: 1 !important;
}
.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-layout-row > .u-size-30 {
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
}
.u-layout-cell, .u-container-style.u-opacity, .u-container-layout.u-opacity, .u-group.u-opacity {
    background-color: transparent !important;
}
.u-layout-cell {
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}
.u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: auto;
    pointer-events: initial;
}
.u-sheet:not(.u-image):not(.u-video) {
    pointer-events: none;
}
.u-align-left {
    text-align: left;
}
.u-body {
    color: #111111;
    background-color: #ffffff;
}
.u-body {
    font-family: 'Open Sans', sans-serif;
}
.u-body {
    font-size: 1rem;
    line-height: 1.6;
}
style attribute {
    font-size: 16px;
}
html {
    font-size: 16px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.u-layout-cell:before, .u-container-style.u-opacity:before, .u-container-layout.u-opacity:before, .u-group.u-opacity:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}